/* Estilos CSS INICIO - GENERAL */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos encabezado 1 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 0;
}

/* Contenedor principal del header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

/* Logo */
.logo img {
    height: 100px;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    margin: 0 20px;
    border: 2px solid #000;
    border-radius: 25px;
    overflow: hidden;
    width: 350px; /* Ajuste el tamaño de la barra de búsqueda */
}

/* Estilo de el espacio "buscar" */
.search-bar input {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
    border-radius: 25px 0 0 25px;
}

/* Icono de búsqueda */
.search-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.search-icon {
    width: 16px;
    height: 16px;
}

/* Estilos de los enlaces del header (Inicio de sesión, registro, etc.) */
.header-links {
    display: flex;
    gap: 15px;
    font-weight: bold;
}

.header-links a {
    text-decoration: none;
    color: #000;
}

/* Estilos del menú desplegable para reportes */
.menu-reportes {
    position: relative;
    margin-top: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/* Mostrar el menú cuando se activa */
.dropdown-menu.show {
    display: block;
}

/* Sección intro */
.intro-section {
    background-color: #285EAF;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}

/* Botón */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8ea5e6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos footer */
footer {
    background-color: #ffffff;
    color: #000;
    padding: 50px;
    text-align: center;
}

footer a {
    color: #000;
    margin: 0 10px;
}
